.footer {
  background-color: var(--contrast-high);
  color: var(--surface-default);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo {
  display: block;
  text-align: center;
  color: inherit;
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 500;
  color: var(--surface-primary);
  margin-bottom: 16px;
  text-align: center;
}

.footer-social {
  column-gap: 16px;
}

.footer-social-link {
  border-radius: 20px;
}

.footer-social-link:focus {
  background-color: var(--green);
}

.footer-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-input {
  width: 288px;
  padding: 8px 16px;
  height: 40px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--white);

  background-color: transparent;

  border: 1px solid var(--white);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border-color: var(--green);
}

.footer-input::placeholder {
  color: var(--white);
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding: 8px 16px;
  min-width: 165px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  background-color: var(--iris);

  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:focus {
  background-color: var(--green);
}

.footer-button-icon {
  fill: currentColor;
}

/* ----------------------TABLET ---------------------- */
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;

    padding-left: 108px;
    padding-right: 108px;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-description {
    max-width: 264px;
  }

  .footer-text {
    text-align: left;
  }

  .footer-form-container {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }
}

/* ++++++++++++++++++++++DESKTOP+++++++++++++++++++++++ */
@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    align-items: flex-start;
    gap: 0;

    padding-left: 16px;
    padding-right: 16px;
  }

  .footer-wrapper:first-child {
    margin-right: 120px;
  }

  .footer-wrapper:last-child {
    margin-left: auto;
  }

  .footer-social-link:hover {
    background-color: var(--green);
  }

  .footer-input {
    margin-right: 24px;
    width: 264px;
  }

  .footer-button:hover {
    background-color: var(--green);
  }
}
