.header {
  border-bottom: 1px solid var(--accent-subtle);
}

.header-logo {
  margin-right: 76px;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--contrast-high);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  color: var(--contrast-high);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-pressed);
}

.nav-link-active {
  color: var(--ocean);
}

.nav-link-active::after {
  position: absolute;
  top: calc(100% - 4px);
  content: '';
  margin-right: auto;
  margin-left: auto;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--ocean);
}

.address {
  margin-left: auto;
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--brand-pressed);
}

.header .container {
  display: flex;
  align-items: center;
}
