.hero {
  padding-top: 128px;
  padding-bottom: 72px;

  background-image:
    linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
    url(../images/hero-bg-mobile.jpg);
  background-image:
    linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
    image-set(
      url(../images/avif/hero-bg-mobile@2x.avif) type('image/avif') 2x,
      url(../images/avif/hero-bg-mobile.avif) type('image/avif') 1x,
      url(../images/webp/hero-bg-mobile@2x.webp) type('image/webp') 2x,
      url(../images/webp/hero-bg-mobile.webp) type('image/webp') 1x,
      url(../images/jpg/hero-bg-mobile@2x.jpg) type('image/jpg') 2x,
      url(../images/jpg/hero-bg-mobile.jpg) type('image/jpg') 1x
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--contrast-high);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  width: 212px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--white);
}

/* -------------------------------- TABLET ----------------- */
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 168px;
    padding-bottom: 112px;

    background-image:
      linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
      url(../images/hero-bg-tablet.jpg);
    background-image:
      linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
      image-set(
        url(../images/avif/hero-bg-tablet@2x.avif) type('image/avif') 2x,
        url(../images/avif/hero-bg-tablet.avif) type('image/avif') 1x,
        url(../images/webp/hero-bg-tablet@2x.webp) type('image/webp') 2x,
        url(../images/webp/hero-bg-tablet.webp) type('image/webp') 1x,
        url(../images/jpg/hero-bg-tablet@2x.jpg) type('image/jpg') 2x,
        url(../images/jpg/hero-bg-tablet.jpg) type('image/jpg') 1x
      );
  }

  .hero-title {
    width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
  }
}

/* +++++++++++++++++++++++++++++++++ DESKTOP +++++++++ */

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 244px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;

    background-image:
      linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
      url(../images/hero-bg-desktop.jpg);
    background-image:
      linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
      image-set(
        url(../images/avif/hero-bg-desktop@2x.avif) type('image/avif') 2x,
        url(../images/avif/hero-bg-desktop.avif) type('image/avif') 1x,
        url(../images/webp/hero-bg-desktop@2x.webp) type('image/webp') 2x,
        url(../images/webp/hero-bg-desktop.webp) type('image/webp') 1x,
        url(../images/jpg/hero-bg-desktop@2x.jpg) type('image/jpg') 2x,
        url(../images/jpg/hero-bg-desktop.jpg) type('image/jpg') 1x
      );
  }

  .hero-title {
    margin-bottom: 48px;

    text-align: center;
    font-size: 56px;
    line-height: 1.07;
  }
}
