.team {
  background-color: var(--surface-default);
}
.team-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.team-item {
  width: 264px;
  background-color: var(--surface-primary);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-content-wrapper {
  padding: 32px 16px;
  text-align: center;
}

.team-text,
.team-subtitle {
  margin-bottom: 8px;
}

.team-subtitle {
  text-align: center;
}

.social {
  display: flex;
}

.team-social {
  column-gap: 24px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-color: var(--iris);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link {
  border-radius: 40px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
}

.social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}
